<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Custom page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/module.css">
  <link rel="stylesheet" href="/static/css/theme.css">
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Lorem ipsum</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <nav>
        <ul class="external">
          <li><a href="//underdark.nl">Underdark.nl</a></li>
        </ul>
        <ul>
          <li><a href="/">Index</a></li>
        </ul>
      </nav>
      <button class="toggle">Toggle</button>
    </div>
  </header>
  <p>Welcome to my custom route</p>
</body>
</html>