<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/module.css">
  <link rel="stylesheet" href="/static/css/theme.css">
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Lorem ipsum</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <form class="login" action="/login" method="post">
        <div><label for="username">Username</label> <input type="text" id="username" name="username"></div>
        <div><label for="password">Password</label> <input type="password" id="password" name="password"></div>
        <input type="submit" value="Log in">
      </form>
      <nav>
        <ul>
          <li><a href="/signup">Sign up</a></li>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section>
    <div class="error">
      <h1>
        {{ for message in [messages] }}
          <p>[message]<p>
        {{ endfor }}
      </h1>
    </div>
  </section>
</body>
</html>