<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Custom page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/module.css">
  <link rel="stylesheet" href="/static/css/theme.css">
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Lorem ipsum</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <nav>
        <ul class="external">
          <li><a href="//underdark.nl">Underdark.nl</a></li>
        </ul>
        <ul>
          <li><a href="/">Index</a></li>
        </ul>
      </nav>
      <button class="toggle">Toggle</button>
    </div>
  </header>
  <section>
    <form action="/signup" method="post">
      <fieldset>
        <p><label for="name">Username: </label><input id="name" name="username" type="text" required="required" maxlength="30"></p>
        <p><label for="password">Password: </label><input type="password" name="password" id="password" required="required"></p>
      </fieldset>
      <fieldset>
        <p><label></label><input type="submit" value="Register"></p>
      </fieldset>
    </form>
    <div class="error">
      <h1>
        {{ for message in [messages] }}
          <p>[message]<p>
        {{ endfor }}
      </h1>
    </div>
  </section>
</body>
</html>